@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
body {
    background-color: #f5f2ee;
/*     font-family: "Fraunces", serif;
    font-family: "Montserrat", sans-serif; */
}
#card {
    width: 343px;
    height: 611px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
#card img {
    width: 343px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
#jenis {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px 15px 20px;
}
#button {
    width: 295px;
    height: 48px;
    background-color: rgb(69, 126, 104);
    color: white;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    font-weight: 700;
    font-family: "Montserrat", serif;
    line-height: 100%;
}